<% page_title( "Home" ) %>


<div class="content1">
  	  <!-- Page title -->		
	  <div class="content1-pagetitle">Welcome to <%= Montage::SITE_NAME %></div>			
	
	<p>
		Welcome to the new photos.walding.com
	</p>
	
	<p>
		Old photos will be reloaded soon!
	</p>

	<p>
		<%= link_to "Browse exhibits", exhibits_index_url( :id => '1' ) %>
	</p>





</div>		