<% page_title( "About #{Montage::SITE_NAME}" ) %>
<% display_logo(true) %>


<div class="content1">
  	  <!-- Page title -->		
	  <div class="content1-pagetitle">Powered by</div>			
	  <ul>
	    <li><a href="http://montage.codehaus.org/">Montage</a></li>
	  </ul>
</div>	