@import "collapsibleDiv.css";
@import "infobar.css";

@import "montage-tools.css";
@import "montage-layout.css";

* {
 font-family: sans-serif;
 color: black;
}

.exhibit-title {
 font-size: 1.2em;
 font-weight: bold;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 width: 40%;
 padding: 4px;
}

.exhibit-short-description {
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 text-align: center;
 padding: 10px;
 background-color:#eee;
 border: 1px solid #ddd;
}



div.folderDescription {
 background-color: #fafafa;
 border: 1px solid #bbb;
 padding: 3px;
 width: auto;
 margin-left: 0px;
 margin-right: 0px;
}

div.folders {
 background-color: #eee;
 border: 1px solid #bbb;
 padding: 3px;
 width: 80%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 5mm;
}


div.thumbnailSet {
 width: 570px;
 margin-top: 10px;
 margin-left: auto;
 margin-right: auto;
 padding: 3px;
}

div.thumbnailSet .thumbnail {
 margin: 1px;
 float: left;
}

.thumbnail {
 width: 106px;
 height: 106px;
 padding: 2px;
 border: 1px solid #ddd;
 text-align: center;
 float: left;
 font-size: 0.7em;
 text-decoration: none;
}

.thumbnail:hover {
 border: 1px solid #aaf;
 background-color: #ddf;
}

.navLink {
 text-decoration: none;
}

.thumbnail img {
 border: 1px solid black;
}

table#header {
 background-color: #f3f3f3;
 border: 1px solid #bababa;
 font-size: 0.8em;
 
 width: 840px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 2px;
}

table#body {
 width: 830px;
 margin-left: auto;
 margin-right: auto;
}


a {
 color: #33b;
}

a:hover {
 color: #33f;
}

#nextText, #prevText {
 font-size: 0.7em;
}

#countVisible .plural {
 font-size: 0.7em;
 color: #777;
}

#countVisible .count {
 font-size:1.1em;
 font-weight: bolder;
 color: #777;
}



#nextText {
 text-align: right;
}

#prevText {
 text-align: left;
}

.imageDescription {
 font-size: 0.9em;
}

table.comments {
 border-collapse: collapse;
 border: 1px solid #f3f3f3;
 width: 100%;
}

table.comments tr {
 background-color: #f3f3f3;
 border: 1px solid #bababa;
}

table.comments td {
 padding: 3px;
}

table.comments textarea {
 width: 98%;
 padding: 0;
 margin: 0;
}

.commentCommonName {
 font-weight: bolder;
 color: black;
 font-size: 0.9em;
}

.commentComment {
 padding-left: 10px;
 font-size: 0.9em;
}

.commentHowLongAgo {
 padding-left: 30px;
 font-size: 0.7em;
 color: #555;
}

.extraInformation {
 background-color: #f3f3f3;
 border: 1px solid #bababa;
}

div.description {
 background-color: #f3f3f3;
 border: 1px solid #bababa;
 padding: 3px;
}
        

       
img#prev-link {
 border: 0;
 text-decoration: none;
}
img#next-link {
 border: 0;
 text-decoration: none;
}


div.tag, input#tagInput, input#addTagButton {
 font-size: 0.8em;
}

div.tag a.deleteTag {
 text-decoration: none;
}

a.removeLink {
  padding-left: 5px;
  font-family: monospace;
  text-decoration: none;
  size: 0.8em;
}


h1 input {
  font-size: 1.1em;
}